<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
		"https://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">

    <!-- Configure checker to use UTF-8 encoding -->
    <property name="charset" value="UTF-8"/>
    <property name="fileExtensions" value=""/>


    <!-- No tab characters ('\t') allowed in the source code -->
    <module name="FileTabCharacterCheck">
    </module>
</module>
